.idea
*.iml
target
.vscode

node_modules/

vendor/

#scala
target/
*.class
*.log
.bsp/

#python
__pycache__/
.pytest_cache/
*.py[cod]

#Mac
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
